/* Tag styles... */
body { 
 font-family: Perpetua, "Times New Roman", serif;
 font-size: 1em;
 background-color: #FAFAFA;
}
h1 { 
 text-align: center;
}
h3 { 
 text-align: center;
}
hr.black { 
 background: #000;
}

/* Link styling... */
a:link { 
 color: #000; 
 text-decoration: none;
}

a:visited { 
 color: #000; 
}
 
 a:hover { 
 color: #000;
 text-decoration: underline;
}
 
 a:active { 
 color: #000; 
}

/* Custom ids... */
#sidebar { 

}

#footer { 
 text-align: center; 
 color: #666;
 font-size: 0.8em;
}

#footer a:link { 
 color: #666; 
}
 
 #footer a:visited { 
  color: #666;
}

ul.navlist { 
  font-variant: small-caps;
  border-right-color: #000;
  font-size: 1.2em;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}

ul.sub-navlist { 
  font-variant: small-caps;
  border-right-color: #000;
  list-style-type: none;
  font-size: 0.7em;
  padding-left: 10px;
  padding-right: 0;
}



